.artist-item-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.selected-artist-item {
    background-color: gray;
    opacity: 60%;
}

.artist-item-image {
  max-height: fit-content;
  width: 75%;
}
