<div *ngIf="(errors$ | async)!.length === 0; else errorsTemplate">
  <div class="app-container">
    <div class="app-actions">
      <label class="app-actions-label"> Search an artist by this name : </label>
      <input
        class="app-action-input"
        #artistSearch
        placeholder="Ex. Artist"
        value="Lettuce"
        (keydown)="onSearchKeyPressed($event)"
      />
      <button
        class="app-action-button"
        mat-button
        (click)="searchSimilarArtists(artistSearch.value)"
      >
        Go !
      </button>
    </div>
    <div
      class="app-actions"
      *ngIf="selectedArtists && selectedArtists.length > 0"
    >
      <label class="app-actions-label app-actions-label-icon">
        You have selected {{ selectedArtists.length }} artists
        <mat-icon (click)="clearSelectedArtists()">delete</mat-icon>
      </label>
      <input
        class="app-action-input"
        #playlistName
        placeholder="Ex. Awesome playlist"
        value="Awesome playlist"
        (keydown)="onPlaylistKeyPressed($event)"
      />
      <button
        class="app-action-button"
        mat-button
        (click)="makePlaylist(playlistName.value)"
      >
        Make new playlist !
      </button>
    </div>
    <div class="artists-container">
      <div *ngFor="let artist of artists$ | async" class="artists-item">
        <app-artist-item
          [artist]="artist"
          (click)="selectArtist(artist)"
        ></app-artist-item>
      </div>
    </div>
  </div>
</div>

<ng-template #errorsTemplate>
  <div class="errors-container">
    <div *ngFor="let error of errors$ | async">
      <label>{{ error }}</label>
    </div>
  </div>
</ng-template>
